{% extends 'base.html.twig' %}

{% block title %}Search | {{username}}{% endblock %}

{% block body %}
    <section>
        <div>
            <p>{{username}}</p>
            <p>{{email}}</p>
        </div>
        <div>
            <input type='text' value='{{username}}'>
            <input type='email' value='{{email}}'>
            <input type='password' value='{{password}}'>
        </div>
    </section>
{% endblock %}