{% extends 'base.html.twig' %}

{% block title %}Search | {{ app.user.username }}{% endblock %}

{% block body %}
    <section>
        <div>
            <p>{{ app.user.username }}</p>
            <p>{{app.user.email}}</p>
        </div>
        <div>
            <input type='text' placeholder='{{ app.user.username }}'>
            <input type='email' placeholder='{{app.user.email}}'>
            <input type='password' value='Password'>
        </div>
    </section>
{% endblock %}