{% extends 'base.html.twig' %}

{% block title %}Search|Connexion{% endblock %}

{% block body %}
<h1 class="text-center">CONNEXION</h1>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div>
            Vous êtes déjà connecté à {{ app.user.username }}, <a class="text-blue-400 underline" href="{{ path('app_logout') }}">Déconnexion</a>
        </div>
    {% endif %}

    <section>
        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="info" autocomplete="email" required autofocus>
    </section>
    <section>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="info" autocomplete="current-password" required>
    </section>
    
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}
    <section class="flex-row">
        <input type="checkbox" name="_remember_me"><label class="m-0" for="_remember_me">Se Souvenir de moi</label>
    </section>

    <button class="btn-orange mt-7 self-center" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
