{% extends 'base.html.twig' %}

{% block title %}Search | Accueil{% endblock %}

{% block body %}
    <main>
        <h1>Accueil</h1>
        <label for="genre">Recherche :</label>
        <select name="genre">
            <option>Tous les genres</option>
            {% for genre in genres %}
                <option value="{{genre.slug}}">{{genre.name}}</option>
            {% endfor %}
        <select>
        <button class="border-black border-2 rounded-xl p-1 bg-white">Recherche</button>

        <h2>Les mieux notés</h2>
        <ul class="flex flex-wrap justify-center">
            {% for game in topRatedGames %}
                <li class="w-64 mx-5 border-2 border-black bg-orange-500 rounded-xl my-2">
                    <img class="w-full rounded-t-xl" src="{{ game.background_image }}" alt="{{ game.name }}">
                    {{ game.name }}</br>
                    {{ game.released }}
                </li>
            {% endfor %}
        </ul>

        {% for genreSlug, games in gamesByGenre %}
            <h2>{{ genreSlug }}</h2>
            <ul class="flex flex-wrap justify-center">
                {% for game in games %}
                    <li class="w-64 mx-5 border-2 border-black bg-orange-500 rounded-xl my-2">
                        <img class="w-full rounded-t-xl" src="{{ game.background_image }}" alt="{{ game.name }}">
                        {{ game.name }}</br>
                        {{ game.released }}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
        
    </main>
{% endblock %}
