<!DOCTYPE html>
<html>
    <head lang="fr">
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://kit.fontawesome.com/6daef4aa49.js" crossorigin="anonymous"></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header class="bg-yellow-500">
        <nav class="border-b-2 border-black flex justify-between flex-nowrap py-2 h-48">
            <a href="{{ path('app_home') }}"><img src="{{asset('assets/images/logo.svg')}}" alt="logo" class="h-full object-contain"></img></a>
            {% if app.user %}
                <section class="flex self-center flex-nowrap items-center flex-col">
                    <a href="{{ path('app_profile') }}"><img class="object-cover w-32 h-32 border-black border-2" alt="profile" src="https://www.referenseo.com/wp-content/uploads/2019/03/image-attractive.jpg"></a>
                    <a class="text-blue-500 underline" href="{{ path('app_logout') }}">Déconnexion</a>
                </section>
            {% else %}
                <section class="self-center flex-nowrap">
                    <a href="{{ path('app_login') }}" class="mr-7 btn-white">Connexion</a>
                    <a href="{{ path('register') }}" class="btn-orange mx-7">Inscription</a>
                </section>
            {% endif %}
        </nav>
    </header>
    {% block body %}{% endblock %}
</html>
